/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    /* colors */
    --gradient: linear-gradient(hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);

    /* breakpoints */
    --bp-tablet: 700px;
    --bp-desktop: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    height: 100vh;

    /* background */
    background-image: url(./images/bg-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */

main {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

main > div {
    background-color: var(--dark-blue);
}

/* main__icons */
.main__icons {
    padding: 3rem;
    flex-basis: 30%;
    
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 1rem 5rem 1rem 1rem;
}

.icons__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.icons__links > button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--very-dark-blue);
    cursor: pointer;
}