/* google font */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root {
    /* colors */
    --gradient: linear-gradient(43deg,hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    --pale-blue: hsl(243, 100%, 93%);
    --grayish-blue: hsl(229, 7%, 55%);
    --dark-blue: hsl(228, 56%, 26%);
    --very-dark-blue: hsl(229, 57%, 11%);

    /* breakpoints */
    --bp-tablet: 700px;
    --bp-desktop: 1440px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 0.875rem;
    height: 100vh;

    /* background */
    background-image: url(./images/bg-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main */

main {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;

    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main--parent {
    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 100%;
}

.main--parent > div {
    background-color: var(--dark-blue);
}

/* main__icons */
.main__icons {
    height: 12.5rem;
    padding: 3rem;
    flex-basis: 30%;
    
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    border-radius: 1rem 5rem 1rem 1rem;
}

.icons__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.icons__links > button {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--very-dark-blue);
    cursor: pointer;
}

/* main__container */
.main__container {
    flex-basis: 60%;
    height: 150px;
    padding: 2rem;
    color: var(--pale-blue);
    border-radius: 1rem;
}

.main__container > div {
    /* flex */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    position: relative;
}

.container__usage span {
    font-weight: 700;
}

.container__bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60%;
}

.bar__progress {
    height: 1.5rem;
    width: 100%;
    background-color: var(--very-dark-blue);
    border-radius: 1rem;
    padding: 0.3rem;
}

.bar__progress--inner {
    width: 80%;
    height: 1rem;
    background-image: var(--gradient);
    border-radius: 1rem;

    position: relative;
}

.bar__progress--inner::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1%;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: var(--pale-blue);
    transform: translateY(-55%);

    cursor: pointer;
}

.bar__storage {
    display: flex;
    justify-content: space-between;
}

.bar__storage p {
    font-weight: 700;
}


.container__storage-left {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    border-radius: 1rem 1rem 0 1rem;

    background-color: #FFF;
    padding: 1rem;
    width: 20%;

    /* flex */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container__storage-left::after {
    position: absolute;
    right: 0;
    bottom: -28%;
    content: "";

    height: 30%;
    width: 15%;
    background-color: #FFF;

    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.container__storage-left > p {
    text-transform: uppercase;
}

.storage-left--header {
    color: var(--very-dark-blue);
    font-weight: 700;
    font-size: 1.7rem;
}

.storage-left--content {
    font-size: 0.6rem;
    color: var(--grayish-blue);
}


@media (max-width: 800px) {
    .main--parent {
        flex-direction: column;
        height: 80%;
        align-items: center;
        justify-content: space-evenly;
    }
}